<main class="profile l-inner">
    <h1 style="text-align:center;"><%= local_user_name %> アカウント編集</h1>
    
    <%= simple_form_for(current_user,
        url: registration_path(current_user), 
        html: { method: :put }, 
        data: { turbo: false }) do |f| %>
        
        <div class="">
            <%= image_tag(current_user.avatar, class:"avatar-image") if current_user.avatar.attached? %>
        </div>
        <div class="">
            <%= f.input :avatar, required: false, label: false %>
        </div>
        
        <div class="">
            <%= local_user_column_name(:username) %>
            <%= f.input :full_name, placeholder: "Your full name...", label: false, class:"form-control", required: false %>
        </div>
        <div class="">
            Twitterの@以降
            <%= f.input :username, placeholder: "Your username...", label: false, class:"form-control", required: true %>
        </div>
        <div class="">
            説明
            <%= f.input :body, placeholder: "About you...", label: false, class:"form-control", required: false %>
        </div>
        
        <div class="">
            <%= f.submit "アカウント更新", class: "btn btn-primary" %>
        </div>
        
    <% end %>
</main>