<div class="top l-inner">
    <div>
        <img src="https://placehold.jp/1100x200.png" alt="">
    </div>

    <div class="top__contents">
        <table>
            <tbody>
                <% @posts.each do |post| %>
                    <tr>
                        <td>
                            <% if post.user.avatar.attached? %>
                                <%= image_tag(post.user.avatar, class:"avatar") %>
                            <% else %>
                                <img class="avatar" src="https://placehold.jp/100x100.png" alt="">
                            <% end %>
                        </td>
                        <!-- <td><%= link_to post.user.username, user_path(post.user.id), class: "" %></td> -->
                        <td>
                            <%= link_to truncate_text(post.title, 80), post, class: "nav-link" %>
                            <%= link_to truncate_text(post.body, 80), post, class: "nav-link" %>
                        </td>
                        <td><%= format_date post.created_at %></td>
                        <% if current_user %>
                        <td>
                            <% if current_user.likes.exists?(post_id: post.id) %>
                                <i class="fas fa-heart"></i>
                            <% else %>
                                <%= link_to post_likes_path(post), method: :post do %>
                                    <i class="far fa-heart"></i>
                                <% end %>
                            <% end %>
                        </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

</div>