<div class="profile">
    <div class="container">
        <div class="row">
    
            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="/img.png" class="avatar-image" style="">
                        <% image_tag(@user.avatar, class:"avatar-image") if @user.avatar.attached? %>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <h2><%= @user.full_name %></h2>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p><%= @user.body %></p>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        
                        <div class="p-3">
                            <%= mail_to @user.email, '連絡先' %>
                        </div>
                        
                        <!-- DM -->
                        <div class="p-3">
                            <% unless @user.id == current_user.id %>
                                <% if @is_room == true %>
                                <!-- 新規 -->
                                    <%= link_to 'メッセージへ', room_path(@room_id) %>
                                <% else %>
                                <!-- 過去 -->
                                    <%= form_for @room do |f| %>
                                    <%= fields_for @entry do |e| %>
                                        <%= e.hidden_field :user_id, value: @user.id %>
                                    <% end %>
                                    <%= f.button type: :submit %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>

                    </div>
                    
                    <table class="table">
                      <tbody>
                        <% @user.posts.each do |post| %>
                        <tr>
                            <td><%= post.created_at %></td>
                            <td><%= link_to post.title, post, class: "nav-link" %></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                </div>
            </div>
    
        </div>
    </div>
</div>


