<main class="rooms l-inner">
    
    <h1><%= "#{@another_entry.user.username}さんとのメッセージ" %></h1>

    <br>
    <% @messages.each do |m| %>
        <% if m.user_id == current_user.id %>
            <div class="mycomment">
                <p><%= format_date m.user.created_at %> <%= m.user.username %>さん <span><%= m.body %></span></p>
            </div>
        <% else %>
            <div class="mycomment">
                <p><%= format_date m.user.created_at %> <%= m.user.username %>さん <span><%= m.body %></span></p>
            </div>
        <% end %>
    <% end %>

    <br>
    <%= form_for @message do |f| %>
        <%= f.text_field :body, :class=>"form-control" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "送信する" %>
    <% end %>
        
</main>
