<main class="l-inner session-manager-container">
  <h1 class="session-manager-header">新しい投稿</h1>

    <%= form_for(@post, url: posts_path) do |f| %>
        <div>
            <%= f.label :タイトル %><br>
            <%= f.text_field :title, autofocus: true, class: "form-control" %>
        </div>
        <div>
            <%= f.label :中身 %><br>
            <%= f.text_area :body, class: "form-control", rows: "10%" %>
        </div>
        <div><%= f.submit "投稿する", class: "mt-5" %></div>
    <% end %>

</main>