<!DOCTYPE html>
<html>
  <head>
    <title>Jmty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- <link href="/css/style.css" rel="stylesheet"> -->
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" if @should_render_navbar %>
    <%= render partial: "layouts/alerts" %>

    <%= yield %>
    
    <footer>
      <p>copyright© My.Band</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="/js/common.js"></script>
    <%= params %>
  </body>
</html>
